.scard-size {
  max-width: 10rem;
  max-height: 10rem;
}

.img-height {
  max-height: 7rem;
  max-width: 6rem;
}

body {
  background-image: url('https://media.comicbook.com/2021/03/bill-murray-space-jam-1260193.jpeg?auto=webp');
  background-size: contain;
}